name: Dependency submission
on:
  push:
    branches: [ "master" ]
  pull_request:
    paths:
      - '**/*.gradle*'
      - '**/gradle/**'
  schedule:
    - cron: '0 3 * * *'

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        with:
          build-root-directory: MC Controls
